

.swiper {
  width: 100%;
  height: fit-content !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  /* height: 300px !important; */
  
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
